$root: a-input-group;

.#{$root} {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 40px;
  overflow: hidden;
  background-color: $INTERACTIVE-BACKGROUND;
  border-radius: pxtorem(8);

  &:hover {
    .#{$root}__addon,
    .#{$root}__input {
      color: $PRIMARY-TEXT;
      background-color: $HOVER-OVERLAY;
    }
  }

  &.-disabled {
    pointer-events: none;
    opacity: 0.32;
  }

  &.-full-width {
    width: 100%;
  }

  &.-round {
    border-radius: 999px;
  }

  &__addon {
    display: inline-flex;
    align-items: center;
    height: 100%;
    overflow: hidden;

    &.-prefix {
      padding: 0 0 0 pxtorem(8);
    }

    &.-suffix {
      padding: 0 pxtorem(8) 0 0;
    }
  }

  &__input {
    flex-grow: 1;
    height: 100%;
    padding: 0 pxtorem(12);
    font-family: inherit;
    font-size: pxtorem(16);
    line-height: 1;
    color: $SECONDARY-TEXT;
    background-color: $COLOR-TRANSPARENT;
    border: 0;
    outline: 0;
  }
}
