.a-icon {
  width: 24px;
  height: 24px;
  fill: currentcolor;
  stroke: currentcolor;

  &.-inherit {
    color: inherit;
  }

  &.-secondary {
    color: $SECONDARY-TEXT;
  }

  &.-primary {
    color: $ACCENT-TEXT;
  }
}
