.o-search {
  $root: &;

  padding: pxtorem(8);
  background: $MODAL-BACKGROUND;
  border-radius: pxtorem(8);

  .-fullWidth {
    width: 100%;
  }

  &__result-list {
    &__title {
      padding: 0 pxtorem(8);
      font-weight: 600;
    }

    &__item {
      display: flex;
      align-items: center;
      padding: pxtorem(8);
      cursor: default;
      border-radius: pxtorem(8);

      &:hover {
        background: $HOVER-OVERLAY;
      }

      .thumbnail {
        width: 40px;
        min-width: 40px;
        height: 40px;
        border-radius: pxtorem(4);

        &--recent {
          display: flex;
          align-items: center;
          justify-content: center;
          background: $INTERACTIVE-BACKGROUND;
        }

        &--loading {
          background: $LOADING-BACKGROUND;
        }

        &__image {
          border-radius: pxtorem(4);
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        max-width: calc(100% - 40px);
        padding: 0 pxtorem(16);
        margin: 0;

        &--recent {
          max-width: calc(100% - 40px - 20px);
        }

        &__name,
        &__author {
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &--loading {
            width: 60%;
            height: pxtorem(16);
            color: $LOADING-BACKGROUND;
            background: $LOADING-BACKGROUND;
            border-radius: pxtorem(4);
          }
        }
        &__name {
          margin-bottom: pxtorem(4);

          &--loading {
            width: 80%;
          }
        }
      }

      .icon {
        width: pxtorem(20);
        height: 100%;
        cursor: pointer;
      }
    }
  }
}
