.o-search {
  $root: &;

  display: flex;
  flex-direction: column;
  gap: pxtorem(4);
  padding: pxtorem(8);
  overflow: hidden;
  border-radius: 4px;

  &_input {
    &_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
    }
  }

  &_title {
    padding: pxtorem(8);

    p,
    strong {
      @include text(title);

      margin: 0;
    }

    p {
      overflow: hidden;
      color: $SECONDARY-TEXT;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    strong {
      color: $PRIMARY-TEXT;
    }
  }

  &_resultlist {
    display: flex;
    flex-direction: column;
    gap: pxtorem(4);
    overflow-y: auto;

    &_item {
      display: flex;
      gap: pxtorem(8);
      align-items: center;
      padding: pxtorem(8);
      border-radius: pxtorem(8);

      &:hover {
        background-color: $INTERACTIVE-BACKGROUND;
      }

      &.-recent {
        #{$root}_resultlist_item {
          &_info {
            width: calc(100% - 8px * 2 - 36px - 32px);
          }

          &_action {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            min-width: 32px;
            height: 32px;
            border-radius: pxtorem(4);

            &:hover {
              background-color: $HOVER-OVERLAY;
            }
          }
        }
      }

      &.-result {
        #{$root}_resultlist_item {
          &_info {
            width: calc(100% - 8px - 64px);
          }
        }
      }

      &_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        min-width: 36px;
        height: 36px;
        background-color: rgb(98 89 89);
        border-radius: pxtorem(4);

        svg {
          width: 20px;
          height: 20px;
        }
      }

      &_thumbnail {
        width: 64px;
        min-width: 64px;
        height: 36px;

        img {
          width: 100%;
          height: 100%;
          border-radius: pxtorem(4);
        }
      }

      &_info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: pxtorem(4);
        justify-content: space-between;

        &_name {
          display: inline-block;
          min-width: 30%;
          overflow: hidden;

          h3 {
            @include text(body);

            margin: 0;
            overflow: hidden;
            color: $PRIMARY-TEXT;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        &_author {
          display: inline-block;
          width: fit-content;
          min-width: 20%;
          overflow: hidden;

          p {
            @include text(caption);

            margin: 0;
            overflow: hidden;
            color: $SECONDARY-TEXT;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
