$text-main: #23262f;

@mixin title($size) {
  font-family: Avenir, Helvetica, sans-serif;
  font-weight: 700;
  font-size: $size;
}

@mixin text($size) {
  font-family: Garamond, serif;
  font-weight: 400;
  font-size: $size;
}

$overlay: rgb(0 0 0 / 60%);

@mixin flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
