*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: pxtorem(8);
}

::-webkit-scrollbar-thumb {
  background: $DIVIDER;
  border-radius: pxtorem(4);
}

::-webkit-scrollbar-track:hover {
  background: $HOVER-OVERLAY;
}

html {
  font-size: $FONT-SIZE-HTML;
  word-break: break-word;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: $FONTFAMILY-BASIC;
  color: $SECONDARY-TEXT;
  background-color: $BODY-BACKGROUND;
}

p {
  font-size: pxtorem($FONT-SIZE-HTML-VALUE);

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

img {
  max-width: 100%;
}

button,
select {
  font-family: inherit;

  &:focus {
    border: none;
    outline: none;
    appearance: none;
  }
}

[role='button'],
button,
a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

[data-loading='true'] {
  pointer-events: none;
  user-select: none;

  [data-loading='inherit'] {
    background-color: $LOADING-BACKGROUND;
    border-radius: 4px;

    & > * {
      visibility: hidden;
      opacity: 0;
    }
  }
}
