.o-player-controls {
  $root: &;

  position: relative;
  display: flex;

  &.-mini {
    gap: pxtorem(16);
    align-items: center;
    padding: pxtorem(8) pxtorem(8) pxtorem(12);

    #{$root}_header {
      display: none;
    }

    #{$root}_image {
      &_inner {
        $player-controls-mini-image-width: 40px;

        width: $player-controls-mini-image-width;
      }
    }

    #{$root}_time {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      &_value {
        display: none;
      }
    }

    #{$root}_info {
      flex-grow: 1;
    }

    #{$root}_actionlist {
      gap: pxtorem(16);

      &_item {
        &.-hidden {
          display: none;
        }
      }
    }
  }

  &.-full {
    flex-direction: column;
    gap: pxtorem(32);
    height: 100%;

    #{$root}_header {
      display: flex;
      justify-content: space-between;

      &_title {
        width: fit-content;

        h2 {
          @include text(heading);

          margin: 0;
        }
      }
    }

    #{$root}_image {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      padding: pxtorem(32);

      &_inner {
        width: 100%;
      }
    }

    #{$root}_time {
      display: flex;
      flex-wrap: wrap;
      gap: pxtorem(4);
      justify-content: space-between;

      &_progress-bar {
        width: 100%;
      }

      &_value {
        span {
          @include text(caption);

          color: $SECONDARY-TEXT;
        }
      }
    }

    #{$root}_actionlist {
      justify-content: space-between;
    }
  }

  &_image {
    &_inner {
      $player-controls-image-max-width: 450px;
      $player-controls-image-max-height: 450px;
      $player-controls-image-spin-animation-duration: 12000ms;

      max-width: $player-controls-image-max-width;
      max-height: $player-controls-image-max-height;
      aspect-ratio: 1 / 1;
      overflow: hidden;
      pointer-events: none;
      user-select: none;
      border-radius: 999px !important;

      &.-playing {
        animation-name: spin;
        animation-duration: $player-controls-image-spin-animation-duration;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &_info {
    display: flex;
    flex-direction: column;
    gap: pxtorem(4);

    &_name {
      width: fit-content;

      h3 {
        @include text(body);

        margin: 0;
        color: $PRIMARY-TEXT;
      }
    }

    &_author {
      width: fit-content;

      p {
        @include text(caption);

        margin: 0;
        color: $SECONDARY-TEXT;
      }
    }
  }

  &_actionlist {
    display: flex;

    &_item {
      $player-controls-actionlist-item-width: 24px;
      $player-controls-actionlist-item-height: 24px;

      width: $player-controls-actionlist-item-width;
      height: $player-controls-actionlist-item-height;
      padding: 0;
      background-color: transparent;
      border: 0;
      outline: 0;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
