@mixin responsive($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $WIDTH-MOBILE) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (min-width: $WIDTH-TABLET) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: $WIDTH-DESKTOP) {
      @content;
    }
  }
}

@mixin text($type) {
  @if $type == heading {
    font-size: pxtorem(24);
    font-weight: 700;
  }
  @if $type == title {
    font-size: pxtorem(16);
    font-weight: 600;
  }
  @if $type == body {
    font-size: pxtorem(14);
    font-weight: 500;
  }
  @if $type == caption {
    font-size: pxtorem(12);
    font-weight: 400;
  }
  @if $type == button {
    font-size: pxtorem(14);
    font-weight: 600;
  }
}
