.a-button-group {
  position: relative;
  display: inline-flex;
  align-items: center; 
  text-align: center;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.1s;
  color: white;
  
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;

  font-family: inherit;
  background-color: $INTERACTIVE-BACKGROUND;
  border: 0;
  outline: 0;

  &:active {
    margin: 1px;
    padding: 7px 15px;
  }

  &:hover {
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: $HOVER-OVERLAY;
      border-radius: inherit;
    }

    .a-input-group__addon,
    .a-input-group__input {
      color: $PRIMARY-TEXT;
    }
  }

  &.-full-width{
    justify-content: center;
    width: 100%;
  }

  &.-disabled {
    pointer-events: none;
    opacity: 0.32;
  }

  &__addon {
    width: 24px;
    height: 24px;
    overflow: hidden;
  }

  &__text {
    margin: 0 8px;
  }

  &.-circle {
    padding: 8px;
    border-radius: 999px;
  }
}