$root: a-button;

.#{$root} {
  position: relative;
  display: inline-flex;
  gap: pxtorem(8);
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: pxtorem(8) pxtorem(16);
  color: $PRIMARY-TEXT;
  cursor: pointer;
  user-select: none;
  background-color: $INTERACTIVE-BACKGROUND;
  border: 0;
  border-radius: pxtorem(4);
  outline: 0;
  transition: all 0.1s;

  &:active {
    transform: scale(0.99);
  }

  &:hover {
    &::before {
      position: absolute;
      inset: 0;
      content: '';
      background-color: $HOVER-OVERLAY;
      border-radius: inherit;
    }
  }

  &.-full-width {
    width: 100%;
  }

  &.-disabled {
    pointer-events: none;
    opacity: 0.32;
  }

  &__addon {
    width: 24px;
    height: 24px;
    overflow: hidden;
  }

  &__text {
    font-size: pxtorem(16);
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
  }

  &.-circle {
    padding: pxtorem(8);
    border-radius: 999px;
  }
}
